.root {
  position: relative;
}

.button {
  align-items: center;
  border: 1px solid transparent;
  border-radius: var(--mantine-radius-md);
  display: inline-flex;
  font-size: 0.75rem;
  font-weight: 600;
  gap: 6px;
  padding: 4px 10px;
  transition: box-shadow 150ms ease, transform 150ms ease,
    border-color 150ms ease;
}

.buttonInteractive {
  cursor: pointer;
}

.buttonInteractive:hover {
  box-shadow: var(--mantine-shadow-xs);
  border-color: var(--mantine-color-gray-3);
}

.menuItem {
  font-size: 0.75rem;
}

.menuLabel {
  display: inline-flex;
  gap: 6px;
  align-items: center;
}
